<link
  rel='stylesheet'
  href='https://demos.creative-tim.com/notus-js/assets/styles/tailwind.css'
/>
<script src="/public/js/comments.js"></script>

<div class='bg-gray-100 p-6 m-4'>
  <div
      class='relative flex flex-row justify-between min-w-0 break-words w-full mb-6 mt-2 px-2'
         >
        <h2 class='blogTitle text-uppercase'>{{title}}</h2>
        <p class='blogCreate text-right'>Created by
          {{user.username}}
          on
          {{format_date date_created}}</p>
      </div>
    <p class='text-center blogDescTwo'>{{description}}</p>
  </div>
